<head>
  <title>Debabel</title>
</head>

<body>
  <footer>
    <div id="title"></div>

    <div id="menu">
      <input type="checkbox" id="menu-toggle-checkbox">
      <label for="menu-toggle-checkbox" unselectable="on" onclick="">
        <span class='gear icon'></span>
        <span class='net'></span>
      </label>
      <ul>
        <li id="progress" unselectable="on">Progress</li>
        <li id="questions" unselectable="on">Questions</li>
        <li id="help" unselectable="on">Help</li>
        <li id="account" unselectable="on">Account</li>
      </ul>
    </div>
  </footer>

  {{renderPage}}
</body>