<head>
  <title>Debabel Admin</title>
</head>

<body>
  {{> layoutNavbar }}

  <div class="container-fluid">
    
    {{ renderPage }}

    <hr>

    <footer>
      <p>&copy; Numbat Software 2012</p>
    </footer>

  </div><!--/.fluid-container-->
</body>

<template name="layoutNavbar">
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <span class="brand">{{t "layout.title"}}</span>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              {{loginButtons align="right"}}
            </p>
            <ul class="nav">
              <li class="{{activeness "dashboard"}}"><a href="/">{{t "layout.menu.dashboard"}}</a></li>
              <li class="{{activeness "patterns"}}"><a href="/patterns">{{t "layout.menu.patterns"}}</a></li>
              <li class="{{activeness "transforms"}}"><a href="/transforms">{{t "layout.menu.transforms"}}</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
</template>