hr
	clear: both

.header
	.actions
		padding-top: 13px

		.input-append
			margin-right: 10px

#patterns
	table
		td
			vertical-align: top
		td.player, td.action, td.language
			width: 1px
		td.text
			padding-top: 8px
			a
				color: black