<import: src="./splash">

<Title:>
  {{t("app.name")}}

<Header:>
  <!-- This is a component defined in the /ui directory -->
  <ui:connectionAlert>

<Head:>

  <footer>
    <div id="title"></div>

    <app:menu>
  </footer>

<menu:>
  <div id="menu">
    <input type="checkbox" id="menu-toggle-checkbox">
    <label for="menu-toggle-checkbox" unselectable="on" onclick="">
      <span class='gear icon'></span>
      <span class='net'></span>
    </label>
    <ul>
      <li id="progress" unselectable="on">{{t("menu.progress")}}</li>
      <li id="questions" unselectable="on">{{t("menu.questions")}}</li>
      <li id="help" unselectable="on">{{t("menu.help")}}</li>
      <li id="account" unselectable="on">{{t("menu.account")}}</li>
    </ul>
  </div>
