<Body:>

	<div id="splash">
		<header>
		  <h1>{{t("app.name")}}</h1>
		  <h2>{{t("app.slogan")}}</h2>
		</header>
		<nav>
		  <a href="{{localizedPath('study')}}">
		  	<span class="title">{{t("splash.study_title")}}</span>
		  	<span class="description">{{t("splash.study_description")}}</span>
		  </a>
		  <a href="{{localizedPath('about')}}">
		  	<span class="title">{{t("splash.about_title")}}</span>
		  	<span class="description">{{t("splash.about_description")}}</span>
		  </a>
		</nav>
	</div>
