<template name="app_layout">
  <footer>
    <div id="title"></div>

    <div id="menu">
      <input type="checkbox" id="menu-toggle-checkbox">
      <label for="menu-toggle-checkbox" unselectable="on" onclick="">
        <span class='gear icon'></span>
        <span class='net'></span>
      </label>
      <ul>
        <li id="progress" unselectable="on">Progress</li>
        <li id="questions" unselectable="on">Questions</li>
        <li id="help" unselectable="on">Help</li>
        <li id="account" unselectable="on">Account</li>
      </ul>
    </div>
  </footer>
</template>

<template name="welcome">
  {{> app_layout}}
  
  <div id="welcome">
    <header>
      <h1>Debabel</h1>
      <h2>The Magical Language Teacher</h2>
    </header>
    <nav>
      <a href="/study">
        <span class="title">Study</span>
        <span class="description">splash.study_description</span>
      </a>
      <a href="/about">
        <span class="title">About</span>
        <span class="description">splash.about_description</span>
      </a>
    </nav>
  </div>
</template>

<template name="study">

</template>
